<%= form_for(@todo_list, remote: true) do |f| %>
  <% if @todo_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todo_list.errors.count, "error") %> prohibited this todo_list from being saved:</h2>

      <ul>
      <% @todo_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="text-box--form">

    <div class="field" >
      <%= f.label :action_item %><br>
      <%= f.text_area :action_item %>
    </div>
    <div class="field">
      <%= f.label :action_complete %><br>
      <%= f.check_box :action_complete %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>

  </div>  

<% end %>
