<%= form_for(@todo_list, remote: true) do |f| %>
  
  <div class="col-md-12">
    <% if @todo_list.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@todo_list.errors.count, "error") %> prohibited this todo_list from being saved:</h2>

        <ul>
        <% @todo_list.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div> 

<div class="col-md-6 col-md-offset-3 list-item well">
  <div class="input-group">

    <span class="input-group-btn">
      <div class="center">
        <span>
          <%= check_box("todo_list", "action_complete") %>
        </span>  
      </div>
    </span>
    
    <span class="field" >
      <% f.label :action_item %>
      <%= f.text_area :action_item , class: 'form-control'%>
    </span>

    <span class="input-group-btn">
      
      <div class="actions">
        <%= f.submit "Add", class: "btn btn-primary" %>        
      </div>  
    </span>

  </div><!-- /input-group -->
</div><!-- /.col-lg-6 -->

<% end %>

<!-- , remote: true -->
