<!DOCTYPE html>
<html lang="en">
  <!-- Navigation Header -->
  <%= render 'layouts/header' %>
  
  <body>
    <!-- Navigation Header -->
    <%= render 'layouts/navigation' %>

    <!-- Body -->
    <div class="container">

      <!-- Devise "notices" and "alerts" -->
      <%= render 'layouts/notices_and_alerts' %>      
      
      <!-- Normal Body -->        
      <%= yield %>

      <!-- Footer -->
      <%= render 'layouts/footer' %>

      <!-- Debug information to the site layout. -->
      <%= debug(params) if Rails.env.development? %>
      
    </div>   
  </body>
</html>
